<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<form class="form">
    <div class="form-content">
        <div class="form-row-1">

            <mat-form-field class="form-field-user" appearance="outline">
                <mat-label>Analista</mat-label>
                <input matInput type="text" [(ngModel)]="user.name" class="disabled"
                    name="user" oninput="this.value = this.value.toUpperCase()" 
                    maxlength="50" readonly>
            </mat-form-field>

            <mat-form-field class="form-field-shift" appearance="outline">
                <mat-label>Turno</mat-label>
                <mat-select [(value)]="user.shift" name="shift" >
                    <mat-option *ngFor="let shift of shifts" [value]="shift.value">{{shift.viewValue}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="form-field-merchant" appearance="outline">
                <mat-label>Merchant</mat-label>
                <mat-select [(value)]="selectedMerchant" name="merchant" #merchant [formControl]="merchantFormControl">
                  <mat-option>
                    <ngx-mat-select-search (keyup)="onKey($any($event.target).value)" 
                         [placeholderLabel]="'Search'"
                        noEntriesFoundLabel="No results found"></ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let merchant of selectedMerchants" [value]="merchant">{{merchant.name}} - {{merchant.platform}}</mat-option>
                </mat-select>
                <mat-error *ngIf="merchantFormControl.hasError('required')">
                    Campo <strong>Obrigatório</strong>
                </mat-error>
            </mat-form-field>

            <button class="button" mat-fab color="primary" (click)="addNewMerchantRequest()">
                <mat-icon>add</mat-icon>
            </button>

        </div>  
        
        <form class="form-table">
            <table *ngIf="summary" mat-table [dataSource]="summary" class="mat-elevation-z8 table">
                <!-- Merchant Column -->
                <ng-container matColumnDef="merchant">
                  <th mat-header-cell *matHeaderCellDef>Merchant</th>
                  <td mat-cell *matCellDef="let element">{{ element.merchant }}</td>
                  <td mat-footer-cell *matFooterCellDef class="align-right"> Total de atendimentos: </td>
                </ng-container>
              
                <!-- Quantity Column -->
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef width="45">Quantidade</th>
                  <td mat-cell class="align-center" *matCellDef="let element">{{ element.quantity }}</td>
                  <td mat-footer-cell *matFooterCellDef class="align-left">{{getTotal()}}</td>
                </ng-container>
        
                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef width="30" class="action-column"></th>
        
                    <td mat-cell *matCellDef="let element" class="action-column">
                        <button mat-mini-fab class="small-icon-button"
                            color="primary" matTooltip="Novo atendimento"
                            (click)="addWithExistingMerchant(element)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
        </form>
    </div>
</form>