<p>
    <mat-toolbar color="primary">
      <button *ngIf="isLogged" [@rotate]="isLogged" (click)="drawer.toggle()" matTooltip="Menu" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span [@move]="isLogged">PB Assistent</span>
      <span class="example-spacer"></span>
      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button> -->
      <button *ngIf="isLogged" routerLink="/" matTooltip="Home" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>home</mat-icon>
      </button>
      <button *ngIf="isLogged" routerLink="/auth" matTooltip="Sair" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" opened="false" mode="side">
        <mat-nav-list>
          <mat-list-item>
              <button (click)="drawer.toggle()" class="btn-side" mat-raised-button color="primary" routerLink="/check-contestations"><mat-icon>search</mat-icon>Pesquisar Contestações</button>
          </mat-list-item>
          <mat-list-item>
              <button (click)="drawer.toggle()" class="btn-side" mat-raised-button color="primary" routerLink="/import-contestations"><mat-icon>file_upload</mat-icon>Importar Contestações</button>
          </mat-list-item>
          <mat-list-item>
            <button (click)="drawer.toggle()" class="btn-side" mat-raised-button color="accent" routerLink="/service-management"><mat-icon>headset_mic</mat-icon>Gestão de Atendimentos</button>
          </mat-list-item>
          <mat-list-item>
            <button (click)="drawer.toggle()" class="btn-side" mat-raised-button color="accent" routerLink="/"><mat-icon>analytics_outlined</mat-icon>Relatório Atendimentos</button>
          </mat-list-item>
        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content class="example-sidenav-content">
          <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
</p>
