form{
    width: 100%;
    height: 100%;
    margin: 30px auto;
    text-align: center;
}

.form-content{
    width: 600px;
    height: 400px;
    text-align: center;
}

input[type="button"]{
    margin-right: 6px;
}

.form-field-filePath {
    width: 88%;
    margin-right: 6px;
    margin-top: 5px;
}

button {
    vertical-align: middle;
}
