form{
    width: 100%;
    height: 100%;
    margin: 30px auto;
    text-align: center;
}

.form-content{
    width: 600px;
    height: 400px;
    text-align: center;
}

input[type="button"]{
    margin-right: 6px;
}

.text-area {
    width: 100%;
    height: 400px;
}

.form-field-document {
    width: 38%;
    margin-right: 6px;
}

.form-field-merchant {
    width: 50%;
    margin-right: 6px;
}

.btn-copy {
    width: 100%;
    margin-bottom: 10px;
}

button {
    vertical-align: middle;
}